@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.calc{
    width:390px;
    margin: auto;
    margin-top: 100px;
}

.display{
    font-size: 80px;
 color: white;
 text-align: right;
 padding: 5px 10px;
height: 120px;
}

.key{
color: white;
text-align: center;
width: 90px;
height: 90px;
line-height: 90px;
border-color:#333333;
background-color: #333333;
border-radius: 50%;
font-size: 35px;
margin: 5px;
cursor: pointer;
user-select: none;
}

.key:active{
    background-color: #33333390;
}

.zero{
    width: 190px;
    border-radius: 90px;
}

tr:first-child td .key{
    background-color: #a5a5a5;
    color: black;

}
tr:first-child td .key:active{
    background-color: #a5a5a590;
}

tr td:last-child .key{
    background-color: #ffa45c;
    color: white;
}

tr td:last-child .key:active{
    background-color: #ffa45c90;
}

